@font-face {
  font-family: "Walsheim";
  src: url("./fonts/GT-Walsheim-Bold.woff2") format("woff2"),
    url("./fonts/GT-Walsheim-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: adelle-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  font-family: "Walsheim";
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body,
#root {
  height: 100%;
}
